@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* Imports google font: Outfit */

* {
    margin: 0;
    /* these two declarations remove margin and padding from edge of QR code logo */
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    /* this is imported from google fonts*/
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 360px;
    /* sets the maximum width of this container */
    margin: 0 auto;
    /* this aligns the container in the center of page */
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    /* gives the image a white border or puts padding inside the card element */
    border-radius: 17px;
    /* makes the border corners rounded */
    text-align: center;
}

.card img {
    width: 100%;
    /* defines the width in percent of the containing block */
    border-radius: 12px;
}

.text {
    padding: 22px 10px;
}